table {
    font-size: large;
}

thead > tr {
    background-color: #364e9c !important;
}

    thead > tr > th {
        color: white !important;
    }

.Font20 {
    font-size: 20px !important;
    margin-right: 4px !important
}

.row {
    width: 100% !important;
}
